<table><tbody><tr><th>Reviewer (You) </th><th>Review work from #1 </th><th>Review work from #2 </th></tr><tr>
<td>Student 1
&nbsp;</td>
<td>Student 3
&nbsp;</td>
<td>Student 2
&nbsp;</td>
</tr>
<tr>
<td>Student 2
&nbsp;</td>
<td>Student 3
&nbsp;</td>
<td>Student 1
&nbsp;</td>
</tr>
<tr>
<td>Student 3
&nbsp;</td>
<td>Student 2
&nbsp;</td>
<td>Student 1
&nbsp;</td>
</tr>
</table></tbody>